html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-marker-icon {
  transition: transform 1s linear;
}

.line-label {
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 10px;
  display: inline-block;
  color: white;
  margin-top: 2px;
  user-select: none;
  font-family: Arial, sans-serif;
}

.user-location-icon {
  background-color: #007bff;
  border: 2px solid white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.6);
}
